.alignItems {
    align-items: center;
}
.backgroundColor
,.backgroundColor a:link
,.backgroundColor a:visited {
    background-color: #202020;
}
.border0 {
    border: #f0f0f0 0px solid;
}
.border151718 {
    border: #151718 1px solid;
}
.color {
    color: #808080;
}
.displayFlex {
    display: flex;
}
.flexDirection {
    flex-direction: column;
}
.flexWrap {
    flex-wrap: wrap;
}
.height18 {
    height: 18px;
}
.height28 {
    height: 28px;
}
.height31 {
    height: 31px;
}
.justifyContentSpaceBetween {
    justify-content: space-between;
}
.justifyContentSpaceEvenly {
    justify-content: space-evenly;
}
.margin0 {
    margin: 0;
}
.marginBottom4 {
    margin-bottom: 4px;
}
.marginBottom8 {
    margin-bottom: 8px;
}
.marginRight8 {
    margin-right: 8px;
}
.padding8 {
    padding: 8px;
}
.textAlign {
    text-align: center;
}
.width100 {
    width: 100%;
}
.width650 {
    width: 650px;
}
a:link
,a:visited {
    color: #f0f0f0;
}
body {
    align-items: center;
    background-color: #101010;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
}
h1
,h2
,h3 {
    margin: 0;
}
input[type=text]
,input[type=text]:focus {
    background-color: #202020;
    border: 0;
    font-family: monospace;
    font-size: 1.17em;
    font-weight: bold;
    outline: none;
    padding: 0;
    text-align: center;
    width: 532.172px;
}
