a:link
,a:visited
,body {
    background-color: #101010;
    color: #f0f0f0;
}
.alignItems {
    align-items: center;
}
.backgroundColor
,.backgroundColor a:link
,.backgroundColor a:visited {
    background-color: #202020;
}
.border151718 {
    border: #151718 1px solid;
}
.border202020 {
    border: #202020 8px solid;
}
.color {
    color: #808080;
}
.display {
    display: flex;
}
.height23 {
    height: 23px;
}
.height31 {
    height: 31px;
}
.margin0 {
    margin: 0;
}
.marginBottom8 {
    margin-bottom: 8px;
}
.marginTop8 {
    margin-top: 8px;
}
.marginRight8 {
    margin-right: 8px;
}
.padding8 {
    padding: 8px;
}
